<div class="row">
  <div class="col-md-12">
    <h2>フォロー</h2>
  </div>
  <% if @users.count > 0 %>
    <%= render 'relationships/follow', users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>
