<div class="row">
  <div id="demo" class="carousel slide col-md-12" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "slide1.png", :size =>'1000x600' %>
        <div class="carousel-caption" style="color:#1E90FF;background-color: white;">
          <h3><i class="fas fa-screwdriver"></i> 自作PCを作ってシェアしよう</h3>
          <p>投稿してみんなに見てもらおう！</p>
        </div>   
      </div>
      <div class="carousel-item">
        <%= image_tag "slide2.png", :size =>'1000x600' %>
        <div class="carousel-caption"  style="color:#1E90FF;background-color: white;">
          <h3><i class="fas fa-search"></i> 好きなものを見つけよう</h3>
          <p>好きなPCを見つけて部品名をタッチしてみよう！</p>
        </div>   
      </div>
      <div class="carousel-item">
        <%= image_tag "slide3.png", :size =>'1000x600' %>
        <div class="carousel-caption" style="color:#1E90FF;background-color: white;">
          <h3><i class="fas fa-users"></i> 仲間を見つけよう</h3>
          <p>フォローしてメッセージを送ろう！</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <h3>Pclderについて</h3>
  <div class="col-md-12">
    <p>Pclderは自作PC投稿専用サイトです。</p>
    <p>自作PCを持っている人も持っていない人も好きなPCを見つけていいねを押しましょう！</p>
    <p>自作PCを作りたい！そんな時のパーツ選びの参考にしましょう！</p>
    <p>聞きたいことがあればメッセージやコメントを送りましょう！</p>
    <p>※当サイトはポートフォリオ作品です。</p>
  </div>
  <h4 style="margin-top: 20px;">テストアカウント</h4>
  <div class="col-md-12">
    <p>メールアドレス: 1@1</p>
    <p>パスワード: 123456</p>
  </div>
</div>