  <div class="top-body">
  	<div class="col-md-12" style="text-align: center;"><%= image_tag "logo.png", :size =>'140x50' %></div><hr>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-9 text-center" data-aos="fade-up" data-aos-delay="400">
          <h1 class="mb-4">PCLDER</h1>
          <h5 class="mb-4">BUILD AND SHARE</h5>
          <p><a href="/users/sign_in" class="btn btn-primary px-4 py-3">ログイン</a></p>
        </div>
      </div>
  </div>