  <div class="row top-body" style="padding:300px;">
    <div class="col-md-6 sentence" style="margin-top: 100px; text-align: center;">
      <p><span><i class="fas fa-screwdriver"></i> 自作PCを作ってシェアしよう</span></p>
      <p><span><i class="fas fa-search"></i> 好きなものを見つけよう</span></p>
      <p><span><i class="fas fa-users"></i> 仲間を見つけよう</span></p>
    </div>
    <div class="col-md-6" style="color: #1E90FF">
  	<div class="col-md-12" style="text-align: center;"><%= image_tag "logo.png", :size =>'140x50' %>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-9 text-center" data-aos="fade-up" data-aos-delay="400">
          <h1 class="mb-4">PCLDER</h1>
          <h5 class="mb-4">BUILD AND SHARE</h5>
          <p><a href="/users/sign_in" class="btn btn-primary px-4 py-3">ログイン</a></p>
          </div>
        </div>
      </div>
  </div> 
</div>