<div class="row" style="margin-top: 200px;">
<span class="offset-md-5">このユーザーは退会済みです。</span>
<p class="offset-md-5 col-md-3"><%= link_to "戻る", rooms_index_path, class: "btn btn-info col-md-9" %></p>
</div>