<h3>メッセージ</h3>
<div class="dm_list card-body contacts_body">
  <% @rooms.each do |room| %>
    <div class="dm_list__content">
      <%= link_to chat_path(room), class: "dm_list__content__link link" do %>
        <div class="dm_list__content__link__box">
          <h3 class="dm_list__content__link__box__name">
            <%= opponent_user(room) %>
          </h3>
          <span class="dm_list__content__link__box__message" style="font-size: 24px;">
            <%= most_new_message_preview(room) %>
          </span>
          <span class="dm_list__content__link__box__time">
            <%= most_new_time_preview(room) %>
          </span>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>