<% if @items.present? %>
	<% @items.first(10).each do |item| %>
		<div>
				<img src="<%= item['smallImageUrls'][0] %>">
				<%= item.name %>
		 		<p><%= item.price %>円</p>
		 </div>
	 	<hr>
	<% end %>
<% end %>