// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-body{
	background-image: image-url("top.jpg");
	color:white;
}
.sentence {
	width: 100%;
	margin-bottom:25px;
}
/* スマホ　767px以下 */
@media only screen and (max-width: 767px){
  .image{
    width: 100%;
    height: auto;
  }
}
/* pc　768px以上 */
@media only screen and (min-width: 768px), print {
  .image{
    width: 1000px;
    height: auto;
  }
}