// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-body{
	background-image: image-url("top.jpg");
	width: 100%;
	color:white;
}
.sentence span {
	font-size: 20px;
	background: rgba(#222222,0.8)
}